<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="meteo3ilSoap" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="meteo3ilSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.meteoservice.lab3il.fr/meteo3il.asmx"
                binding="basicHttpBinding" bindingConfiguration="meteo3ilSoap"
                contract="WSMeteo.meteo3ilSoap" name="meteo3ilSoap" />
            <endpoint address="http://www.meteoservice.lab3il.fr/meteo3il.asmx"
                binding="customBinding" bindingConfiguration="meteo3ilSoap12"
                contract="WSMeteo.meteo3ilSoap" name="meteo3ilSoap12" />
            <endpoint address="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WCFMeteo.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:60265/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="MyServiceMeteo.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>